<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>451463411741-hb5lu373vq2pq4tbo2mv5k5hs38eofvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451463411741-hb5lu373vq2pq4tbo2mv5k5hs38eofvg</string>
	<key>API_KEY</key>
	<string>AIzaSyC2n9pnOe3fVFvNubxDa-oEWsPuc0I75fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>451463411741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phaydushki.BeenHere</string>
	<key>PROJECT_ID</key>
	<string>beenhere-ph</string>
	<key>STORAGE_BUCKET</key>
	<string>beenhere-ph.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451463411741:ios:24529e0c3c33b90d</string>
	<key>DATABASE_URL</key>
	<string>https://beenhere-ph.firebaseio.com</string>
</dict>
</plist>